﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="createcomp.aspx.vb" Inherits="createcomp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <style type="text/css">
        .style1
        {
            height: 31px;
        }
        .style2
        {
            height: 32px;
        }
    </style>
</head>
<body background="img/background01.jpg">
    <form id="form1" runat="server">
    <div>
    <table>
    <tr>
    <td colspan="2">
    <table>
    <tr>
    <td>
        &nbsp;</td>
     <td>
         &nbsp;</td>

<td>
        &nbsp;</td>
        <td>
            &nbsp;</td>
</tr>
<tr>
<td>
        &nbsp;</td>
</tr>
 </table>
 
 </td>
   </tr>
    
     <tr>
    <td colspan="2">  <center>
        <asp:Button ID="btnshow1" runat="server" Text="Show" Visible="False" />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <asp:Button ID="btnmodify" runat="server" Text="Modify Company" Visible="False" />
      <asp:Button ID="btnaddcomp" runat="server" Text="Add Company in List" Visible="False" />
      <asp:Button ID="btnshow2" runat="server" Text="Show" Visible="False" />
     </center>  </td>
    </tr>
    
    
       <tr>
       <td> 
    <asp:Panel ID="Panel2" runat="server" Visible="False">
    <table>
   
     <tr>
     <td>
         <asp:Label ID="Label15" runat="server" Text="Company ID"></asp:Label>
     </td>
     <td>
         <asp:TextBox ID="txtcompid" runat="server" Enabled="true"></asp:TextBox>
           </td>
         <td>
             &nbsp;</td>
     </tr>
            
            <tr>
                <td>
                    Company Code
                </td>
                <td>
                    <asp:DropDownList ID="drlcoid" runat="server" AutoPostBack="true" width="122px">
                    </asp:DropDownList>
                </td>
                <td>
                    &nbsp;</td>
        </tr>
            
            <tr>
            <td>
            Company ID
            </td>
            <td>
            <asp:TextBox ID="txtcoid" runat="server" Enabled="False"></asp:TextBox>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
                    ControlToValidate="drlcoid" ErrorMessage="*" InitialValue="select company code" 
                    ValidationGroup="Delete"></asp:RequiredFieldValidator>
           <asp:TextBox ID="txtcocd" runat="server" width="128px" Enabled="False"></asp:TextBox>
            </td>
                <td>
                    &nbsp;</td>
            </tr>   
               
       <tr>
       <td>
        Company Name
       </td>
       <td>
       <asp:TextBox ID="txtconame" runat="server" Height="24px" Width="319px" 
               Enabled="False"></asp:TextBox>
       </td>
           <td>
               &nbsp;</td>
       </tr>        
       
       <tr>
       <td>
       Year       
       </td>
       <td>
       <asp:DropDownList ID="drlyearid" runat="server" AutoPostBack="true" width="110px" 
               style="height: 22px">
        </asp:DropDownList>
         <asp:TextBox ID="txtcoyear" runat="server" width= "128px" Enabled="False" 
               Height="22px"></asp:TextBox>
       </td>
           <td>
               &nbsp;</td>
       </tr>
       
        <tr>
        <td>
         Year ID
        </td>
        <td>       
         <asp:TextBox ID="txtyearid" runat="server" width="59px" Enabled="False"></asp:TextBox>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" 
                ControlToValidate="drlyearid" ErrorMessage="*" InitialValue="select year" 
                ValidationGroup="Delete"></asp:RequiredFieldValidator>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Button ID="btnaddyear" runat="server" Text="Add Year" Visible="true" />
        </td>
            <td>
                &nbsp;</td>
        </tr>
      
       <tr>
       <td>
       From Date
       </td>
       <td>
         <asp:TextBox ID="txtfdate" runat="server" Enabled="False"></asp:TextBox>
       </td>
           <td>
               &nbsp;</td>
       </tr>
       
       <tr>
       <td> 
       To Date
       </td>
       <td>
        <asp:TextBox ID="txttdate" runat="server" Enabled="False"></asp:TextBox>
       </td>
           <td>
               &nbsp;</td>
       </tr>
       
        <tr>
        <td colspan="2" style="margin-left: 40px" class="style2">
           <asp:Button ID="btnsave1" runat="server" Text="Save Year" Visible="False" 
                ValidationGroup="Delete" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <asp:Button ID="btndel" runat="server" Text="Delete Year" Visible="False" 
                ValidationGroup="Delete" />
        </td>
            <td class="style2">
                </td>
        </tr>
        </table>
       
    </asp:Panel>
    </td>
    
               
   
   <td>
     <asp:Panel ID="Panel1" runat="server" Visible="False">
        <table>
        
       <tr>
         <td class="style1"> 
          <asp:Label ID="Label9" runat="server" Text="Company ID"></asp:Label>
         </td>
         <td class="style1">
          <asp:TextBox ID="txtcoid1" runat="server" width="121px"></asp:TextBox>
           <asp:DropDownList ID="drlcoid1" runat="server" AutoPostBack="true" Visible="False">
            </asp:DropDownList>
          </td>
        </tr>
        
        
        <tr>
        <td>
         <asp:Label ID="Label2" runat="server" Text="Company Code"></asp:Label>
        </td>
        <td>
         <asp:TextBox ID="txtcocd1" runat="server" MaxLength="5" width="73px" Height="22px"></asp:TextBox>
         <asp:TextBox ID="txtcoid2" runat="server" width="60px"></asp:TextBox>
         </td>
        </tr>
        
        <tr>
        <td>
         <asp:Label ID="Label3" runat="server" Text="Company Name"></asp:Label>
        </td>
        <td>
         <asp:TextBox ID="txtconame1" runat="server"  MaxLength="50" width="294px"></asp:TextBox>
        </td>
        </tr>
        
            <tr>
                <td>
                    <asp:Label ID="Label10" runat="server" Text="Company Address"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="txtcompadd" runat="server" MaxLength="50" width="294px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label11" runat="server" Text="Phone No."></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="txtcompphone" runat="server" MaxLength="50" width="294px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label12" runat="server" Text="Email Id"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="txtemail" runat="server" MaxLength="50" width="294px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label13" runat="server" Text="Company Web Site"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="txtcompwebsite" runat="server" MaxLength="50" width="294px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label14" runat="server" Text="Fax No."></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="txtcompfax" runat="server" MaxLength="50" width="294px"></asp:TextBox>
                </td>
            </tr>
        
        <tr>
        <td>
        <asp:Button ID="btnsave" runat="server" width="56px" Text="Save" />
          <asp:Button ID="btnupdate1" runat="server" Enabled="False" Text="Update" />
            <asp:Button ID="btndelete" runat="server" Text="Delete" Visible="False" />
            &nbsp;&nbsp;&nbsp;
            <asp:Button ID="btnadd" runat="server" Text="Add Year in Company" 
                Visible="False" Width="148px" />
        </td>        
        </tr>
        </table>    
          
    </asp:Panel>
   </td>
   </tr>
        </table></div>
    </form>
    </body>
</html>
